<div class="container" *ngIf="job">
  <!-- Header -->
  <div class="d-flex flex-row justify-content-between mb-3">
    <a [routerLink]="['../']" class="bold-link align-self-center"
      ><i class="fas fa-angle-left"></i><span>&nbsp;Back to Jobs</span></a
    >
  </div>

  <div class="row">
    <div class="col-12 col-sm-4 col-md-3 mb-5 position-relative">
      <div class="card sticky-top" [style]="{ top: '1rem' }">
        <div class="card-body">
          <div class="flex-column">
            <h5 class="m-0">General</h5>
            <ul class="ps-0" [style]="{ listStyle: 'none' }">
              <li>
                <a
                  [routerLink]="['./']"
                  [routerLinkActive]="'active fw-bold'"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Main Chat
                  <span class="badge bg-secondary">{{
                    job?.commentsCount || 0
                  }}</span></a
                >
              </li>
              <!-- <li class="text-muted">Creator's Log (coming soon)</li> -->
            </ul>

            <h5 class="m-0">
              Submission Threads
              <!-- <span class="badge bg-secondary">{{
                job?.submissionsCount || 0
              }}</span> -->
            </h5>
            <ul
              *ngIf="submissions?.length; else emptyBlock"
              class="ps-0"
              [style]="{ listStyle: 'none' }"
            >
              <li
                *ngFor="
                  let s of submissions
                    | slice: 0:submissionsLimit
                    | sort: 'submissionNumber'
                "
              >
                <!-- <a
                target="_blank"
                [href]="'https://www.github.com/' + s.githubRepo"
                >{{ s.githubRepo }}</a
              > -->
                <a
                  [routerLink]="['./', submissionsLink, s.submissionNumber]"
                  [routerLinkActive]="'fw-bold'"
                  >#{{ s.submissionNumber }} by {{ s.user }}</a
                >
              </li>

              <a
                *ngIf="submissionsLimit < submissions.length"
                (click)="submissionsLimit = submissionsLimit + 20"
                ><b>See more</b></a
              >
            </ul>
            <ng-template #emptyBlock>(no submissions yet)</ng-template>
          </div>

          <hr />
          <h5>Got your own submission?</h5>
          <p class="card-text">Send it to the job creator.</p>
          <a [routerLink]="['./', 'submit']" class="btn btn-success"
            >Submission Page</a
          >
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-md-9">
      <div class="card mb-3 lift-1">
        <div class="card-header d-flex justify-content-between">
          <h2 class="d-inline align-self-center">
            {{ job.title }}&nbsp;<span class="text-muted fw-normal"
              >#{{ job.jobNumber }}</span
            >
          </h2>

          <div class="align-self-center">
            <!-- TODO: restyle this -->
            {{ job.subscriptionsCount }} subscribers
            <app-job-subscription-buttons
              *ngIf="usersService.username$ | async"
              [job]="job"
              [isCreator]="projectsService.isCreator() | async"
            ></app-job-subscription-buttons>
          </div>
        </div>

        <div class="card-body">
          <h6>Description</h6>
          <p *ngIf="job?.body?.length as length">
            {{ job?.body?.slice(0, Math.min(length, descriptionLimit)) }}

            <ng-container
              *ngIf="length > descriptionLimit || false; else showLessBlock"
            >
              <span>Show more</span>
            </ng-container>
            <ng-template #showLessBlock>Show less</ng-template>
          </p>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
