<div class="container" *ngIf="job">
  <!-- Header -->
  <div class="d-flex flex-row justify-content-between mb-3">
    <h2 class="m-0">
      {{ job.title }}&nbsp;<span class="text-muted fw-normal"
        >#{{ job.jobNumber }}</span
      >
    </h2>
    <!-- <a [routerLink]="['../', newJobLink]"
    ><button class="btn btn-primary">New Job</button></a
    > -->
  </div>
  <hr />

  <div class="row">
    <div class="col-12 col-sm-4 mb-5 position-relative">
      <div class="sticky-top" [style]="{ top: '1rem' }">
        <div class="card text-left">
          <div class="card-body">
            <h5 class="card-title">
              Submissions
              <small class="text-muted">{{ submissions?.length || 0 }}</small>
            </h5>
            <ol *ngIf="submissions">
              <li *ngFor="let s of submissions | slice: 0:submissionsLimit">
                <!-- <a
                target="_blank"
                [href]="'https://www.github.com/' + s.githubRepo"
                >{{ s.githubRepo }}</a
              > -->
                <a [routerLink]="['./', submissionsLink, s.submissionNumber]">{{
                  s.user
                }}</a>
              </li>

              <a
                *ngIf="submissionsLimit < submissions.length"
                (click)="submissionsLimit = submissionsLimit + 5"
                ><b>See more</b></a
              >
            </ol>
            <hr />
            <h5>Got your own submission?</h5>
            <p class="card-text">Send it to the job creator.</p>
            <a [routerLink]="['./', 'submit']" class="btn btn-success"
              >Submission Page</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
