<div class="container">
  <!-- <app-job-card *ngFor="let j of jobs" [job]="j"></app-job-card> -->
  <div class="d-flex flex-row justify-content-between mb-3">
    <h2 class="float-start m-0">Jobs</h2>
    <button class="btn btn-primary float-end" [routerLink]="['./', newJobLink]">
      <i class="fas fa-plus"></i>&nbsp;New Job
    </button>
  </div>
  <hr />
  <table class="table table-hover table-bordered" *ngIf="jobs$ | async as jobs">
    <thead></thead>
    <tbody>
      <tr *ngFor="let j of jobs">
        <td class="position-relative">
          <h6 class="m-0">
            <a
              [routerLink]="['./', j.jobNumber]"
              class="d-inline d-md-none stretched-link"
            >
              {{ j.title }}
            </a>
            <a [routerLink]="['./', j.jobNumber]" class="d-none d-md-inline">
              {{ j.title }}
            </a>
            <!-- Comments Count -->
            <small *ngIf="j.commentsCount" class="float-end d-none d-sm-inline">
              <i class="far fa-comment-alt"></i>
              {{ j.commentsCount || 0 }}
            </small>
          </h6>
          <!-- Job Number -->
          <small class="text-muted">
            #{{ j.jobNumber }} posted {{ j.createdAt | dateAgo }}
          </small>
          <!-- Submissions Count -->
          <small *ngIf="j.submissionsCount" class="ms-2 text-muted">
            &bull;&nbsp;{{ j.acceptedSubmissionsCount || 0 }} out of
            {{ j.submissionsCount }} submissions accepted
          </small>
        </td>

        <td class="d-none d-md-table-cell">
          <!-- TODO: subscribe action -->
          <a class="text-success"><i class="far fa-bell"></i>&nbsp;Subscribe</a>
          <!-- TODO: subscribing -->
          <!-- <a class="text-success"><i class="fas fa-check"></i>&nbsp;Subscribing</a> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
