<!-- New Comment -->
<!-- <app-create-comment
  *ngIf="currUsername !== ''"
  class="mb-3 d-block"
  [commentText]="newComment"
  (onTypeEvent)="newComment = $event"
  (onSubmitEvent)="postComment()"
  [submitting]="submitting"
></app-create-comment> -->

<div class="card mb-3 lift-1">
  <div class="card-body">
    <h6>Submission Description</h6>
    <p></p>
  </div>
</div>

<app-job-comments
  [comments]="comments"
  [creator]="creator"
  [currUsername]="currUsername"
></app-job-comments>

<!-- Have a comment input down below for convenience -->
<!-- TODO: *ngIf="comments && comments.length >= 10 && currUsername !== ''" -->
<app-create-comment
  *ngIf="currUsername !== ''"
  class="mb-3 d-block"
  [commentText]="newComment"
  (onTypeEvent)="newComment = $event"
  (onSubmitEvent)="postComment()"
  [submitting]="submitting"
></app-create-comment>
