<!-- New Comment -->
<!-- <app-create-comment
  *ngIf="currUsername !== ''"
  class="mb-3 d-block"
  [commentText]="newComment"
  (onTypeEvent)="newComment = $event"
  (onSubmitEvent)="postComment()"
  [submitting]="submitting"
></app-create-comment> -->

<div class="card mb-3 lift-1" *ngIf="submission$ | async as subm">
  <div class="card-header" *ngIf="projectPageService.isCreator() | async">
    <h6>
      Creator Section
      <small class="text-danger"
        >(Only you can see this as the job creator)</small
      >
    </h6>

    <button class="btn btn-success mb-2 me-2">Approve Submission</button><br />
    <button class="btn btn-danger">Delete Submission</button>
  </div>

  <div class="card-body">
    <h6 class="d-inline">
      Submission #{{ subm.submissionNumber }} by
      <a [routerLink]="['', subm.user]">{{ subm.user }}</a>
    </h6>
    <span class="text-muted" title="{{ subm.createdAt | date: 'medium' }}"
      >&nbsp;{{ subm.createdAt | dateAgo }}</span
    >
    <p class="m-0">
      {{ subm.body }}
      Github:
      <a target="_blank" href="https://github.com/{{ subm.githubRepo }}">{{
        subm.githubRepo
      }}</a>
    </p>
  </div>
</div>

<app-job-comments
  [comments]="comments"
  [creator]="creator"
  [currUsername]="currUsername"
></app-job-comments>

<!-- Have a comment input down below for convenience -->
<!-- TODO: *ngIf="comments && comments.length >= 10 && currUsername !== ''" -->
<app-create-comment
  *ngIf="currUsername !== ''"
  class="mb-3 d-block"
  [commentText]="newComment"
  (onTypeEvent)="newComment = $event"
  (onSubmitEvent)="postComment()"
  [submitting]="submitting"
></app-create-comment>
