<div
  *ngIf="!isCreator"
  class="btn-group"
  role="group"
  aria-label="Subscribe and Notify buttons"
>
  <ng-container *ngIf="job.subscription?.accepted; else toAcceptBlock">
    <!-- accepted/subscribed -->
    <button class="btn btn-secondary" type="button" (click)="unacceptJob(job)">
      <i class="fas fa-check"></i>&nbsp;
    </button>
  </ng-container>
  <ng-template #toAcceptBlock>
    <button class="btn btn-success" type="button" (click)="acceptJob(job)">
      <i class="fas fa-handshake"></i>&nbsp;Collab
    </button>
  </ng-template>

  <ng-container *ngIf="job.subscription?.accepted">
    <ng-container *ngIf="job.subscription?.notified; else toNotifyBlock">
      <!-- notified -->
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="stopGettingNotificationsAboutJob(job)"
      >
        <i class="fas fa-bell"></i>
      </button>
    </ng-container>
    <ng-template #toNotifyBlock>
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="getNotificationsAboutJob(job)"
      >
        <i class="far fa-bell-slash"></i>
      </button>
    </ng-template>
  </ng-container>

  <!-- Loading changes the length of the button group and kind of irritating -->
  <!-- <div *ngIf="loading">
    <i class="spinner fas fa-circle-notch align-self-center"></i> Loading
  </div> -->
</div>
