<header class="d-flex justify-content-between">
  <h1 *ngIf="username$ | async as username">
    <strong>{{ username }}</strong>
  </h1>

  <div *ngIf="isUser() | async">
    <!-- TODO: Create new Project -->
    <a class="btn btn-primary" [routerLink]="['', newProjectLink]"
      >New Project</a
    >
    <!-- TODO: Create new Asset -->
    <a class="btn btn-primary ms-2" [routerLink]="['/new-asset']">New Asset</a>
  </div>
</header>
<!-- TODO: List 2-3 top project contributions -->

<!-- TODO: List projects -->
<div>
  <h3>Projects</h3>
  <div *ngIf="projects$ | async as projs" class="row">
    <ng-container *ngFor="let p of projs">
      <app-project-card
        [project]="p"
        class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-5ths col-xxl-2 mb-4"
      ></app-project-card>
    </ng-container>
  </div>
</div>

<!-- TODO: List assets like gallery style -->
<div>
  <h3>Assets</h3>
  <ul *ngIf="assets$ | async as assets">
    <li *ngFor="let a of assets">
      <a [routerLink]="['', a.creator, assetsLink, a.puid, a.slug || '']">{{
        a.displayName
      }}</a>
    </li>
  </ul>
</div>
