<div class="row container-fluid container-lg mx-auto p-0 p-md-1">
  <div class="col-12 col-sm-5 col-md-4 p-0">
    <img
      class="w-100"
      *ngIf="project?.imageUrl; else placeholderImageBlock"
      [src]="project?.imageUrl"
    />
    <ng-template #placeholderImageBlock>
      <img [src]="'https://via.placeholder.com/250x250'" />
    </ng-template>

    <!-- Only allow editting image if creator -->
    <button
      *ngIf="projectsService.isCreator() | async"
      class="btn btn-secondary"
      (click)="updatingImage = !updatingImage"
    >
      <i class="fas fa-pencil-alt"></i> Edit
    </button>
    <app-upload
      *ngIf="updatingImage"
      (imageUploadedEvent)="onImageUploaded($event)"
    ></app-upload>
  </div>

  <div class="col">
    Tags:
    <ng-container *ngIf="project?.tags?.length; else noneBlock">
      <span *ngFor="let tag of project?.tags; let i = index">
        {{ tag | titlecase
        }}{{ i + 1 < (project?.tags?.length || 0) ? ", " : "" }}
      </span>
    </ng-container>
    <ng-template #noneBlock>(none added yet)</ng-template>
  </div>
</div>
