<div class="container">
  <h1>Create a new project<br /></h1>
  <p>Have an idea? Start here.</p>
  <hr />

  <form
    class="form-group"
    [formGroup]="projectForm"
    #form="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="row">
      <div class="col-12 col-sm-6">
        <label for="formatted-name" class="required">Name</label>
        <input
          id="formatted-name"
          type="text"
          formControlName="formattedName"
          class="form-control"
          required
        />

        <div class="help-texts">
          <div
            *ngIf="
              formattedName?.invalid &&
              (formattedName?.dirty || formattedName?.touched)
            "
            class="text-danger"
          >
            <div *ngIf="formattedName?.errors?.['required']">
              Name is required.
            </div>
            <div *ngIf="formattedName?.errors?.['minlength']">
              Name must be at least 3 characters long.
            </div>
            <div *ngIf="formattedName?.errors?.['maxlength']">
              Name must be at most 100 characters long.
            </div>
            <div *ngIf="formattedName?.errors?.['projectNameTaken']">
              The project <b>{{ formattedName?.value }}</b> already exists on
              this account.
            </div>
          </div>
          <div
            *ngIf="
              formattedName?.valid &&
              (formattedName?.dirty || formattedName?.touched)
            "
            class="text-success"
          >
            {{ formattedName?.value }} is available.
          </div>
          <small class="form-text text-muted"
            >Give a unique name 3-100 characters long, alphanumeric, single
            hyphens, and cannot start or end with hyphens. Example:
            <b>fantasy-world</b>.</small
          >
        </div>
      </div>

      <div class="col-12 col-sm-6 mt-2 mt-sm-0">
        <label for="display-name"
          >Display Name <small class="text-muted">(Optional)</small></label
        >
        <input
          id="display-name"
          type="text"
          formControlName="displayName"
          class="form-control"
        />

        <div class="help-texts">
          <div
            *ngIf="
              displayName?.invalid &&
              (displayName?.dirty || displayName?.touched)
            "
            class="text-danger"
          >
            <div *ngIf="displayName?.errors?.['minlength']">
              Display name must be at least 3 characters long.
            </div>
            <div *ngIf="displayName?.errors?.['maxlength']">
              Display name must be at most 100 characters long.
            </div>
          </div>

          <small class="form-text text-muted"
            >Example: <b>Fantasy World</b>.</small
          >
        </div>
      </div>
    </div>

    <label for="github-repo"
      >GitHub Repo <small class="text-muted">(Optional)</small>
    </label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">github.com/</div>
      </div>
      <input
        id="github-repo"
        type="text"
        formControlName="githubRepo"
        class="form-control"
        placeholder="owner/project-name"
      />
    </div>
    <div class="help-texts">
      <small id="github-repo-help" class="form-text text-muted"
        >Link your project's source code repository from GitHub to help others
        see the progress and join your cause.</small
      >
    </div>

    <hr />
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="projectForm.invalid || form.submitted"
    >
      {{ !form.submitted ? "Create project" : "Creating project..." }}
    </button>
  </form>
</div>
