<div class="container">
  <h1>Create a new project<br /></h1>
  <p>Have an idea? Start here.</p>

  <form
    class="form-group"
    [formGroup]="projectForm"
    #form="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="row">
      <div class="col">
        <label for="project-name" class="required">Project Name</label>
        <input
          id="project-name"
          type="text"
          formControlName="displayName"
          class="form-control"
          placeholder="(e.g. Fantasy World)"
          required
        />
        <div
          *ngIf="
            displayName?.invalid && (displayName?.dirty || displayName?.touched)
          "
          class="text-danger"
        >
          <div *ngIf="displayName?.errors?.['required']">Name is required.</div>
          <div *ngIf="displayName?.errors?.['minlength']">
            Name must be at least 3 characters long.
          </div>
          <div *ngIf="displayName?.errors?.['max length']">
            Name must be at most 30 characters long.
          </div>
        </div>
      </div>

      <div class="col">
        <label for="formatted-name">Formatted Name</label>
        <input
          id="formatted-name"
          type="text"
          formControlName="formattedName"
          class="form-control"
          placeholder="(e.g. fantasy-world)"
          required
        />
        <div
          *ngIf="
            formattedName?.invalid &&
            (formattedName?.dirty || formattedName?.touched)
          "
          class="text-danger"
        >
          <div *ngIf="formattedName?.errors?.['minlength']">
            Name must be at least 3 characters long.
          </div>
          <div *ngIf="formattedName?.errors?.['max length']">
            Name must be at most 30 characters long.
          </div>
        </div>
      </div>
    </div>

    <label for="github-repo">GitHub Repo</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">github.com/</div>
      </div>
      <input
        id="github-repo"
        type="text"
        formControlName="githubRepo"
        class="form-control"
        placeholder="owner/project-name"
      />
    </div>
    <small id="github-repo-help" class="form-text text-muted"
      >Link your project's source code repository from GitHub to help others see
      the progress and join your cause.</small
    >
    <hr />
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="projectForm.invalid || form.submitted"
    >
      {{ !form.submitted ? "Create project" : "Creating project..." }}
    </button>
  </form>
</div>
