<ng-container *ngIf="manifest; else loading">
  <div *ngIf="manifest.scopedRegistries?.length">
    <div *ngFor="let registry of manifest.scopedRegistries">
      <h5>
        <span>{{
          isOpenUpmRegistry(registry) ? RegistryEnum.OPENUPM : registry.name
        }}</span>
        Registry
      </h5>
      <ul>
        <li *ngFor="let p of trimPackageList(registry.scopes)">
          <app-package-list-item-details
            [packageName]="p"
            [registry]="isOpenUpmRegistry(registry) ? RegistryEnum.OPENUPM : ''"
          >
          </app-package-list-item-details>
        </li>
      </ul>
    </div>
  </div>

  <h5>Unity Registry</h5>
  <ul>
    <li *ngFor="let unityDependency of regularUnityPackages | keyvalue">
      <app-package-list-item-details
        [packageName]="unityDependency.key"
        [sourceOrVersion]="unityDependency.value"
      ></app-package-list-item-details>
    </li>
  </ul>
  <ng-container
    *ngIf="!showBuiltinUnityPackages; else builtinUnityPackagesBlock"
    ><a
      class="link-primary"
      (click)="showBuiltinUnityPackages = !showBuiltinUnityPackages"
      *ngIf="builtinUnityPackages.length"
      >See built-in Unity Packages</a
    ></ng-container
  >
  <ng-template #builtinUnityPackagesBlock>
    <ul>
      <li *ngFor="let unityDependency of builtinUnityPackages | keyvalue">
        <app-package-list-item-details
          [packageName]="unityDependency.key"
          [sourceOrVersion]="unityDependency.value"
        ></app-package-list-item-details>
      </li>
    </ul>
    <a
      class="link-primary"
      (click)="showBuiltinUnityPackages = !showBuiltinUnityPackages"
      >See less</a
    >
  </ng-template>
</ng-container>
<ng-template #loading>Loading packages...</ng-template>
