<div class="row container-fluid mx-auto p-0 p-md-1">
  <div class="col-12 col-sm-5 col-md-4 p-0">
    <img
      class="w-100"
      *ngIf="project.imageUrl; else placeholderImageBlock"
      [src]="project.imageUrl"
    />
    <ng-template #placeholderImageBlock>
      <img [src]="'https://via.placeholder.com/250x250'" />
    </ng-template>
    <button class="btn btn-secondary" (click)="updatingImage = !updatingImage">
      <i class="fas fa-pencil-alt"></i> Edit
    </button>
    <app-upload
      *ngIf="updatingImage"
      (imageUploadedEvent)="onImageUploaded($event)"
    ></app-upload>
  </div>
  <div class="col">
    <p>tags here</p>
  </div>
</div>
