<nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']">GamePub</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['jobs']">Jobs</a>
      </li>

      <li class="nav-item" *ngIf="auth.user$ | async as user">
        <!-- TODO: specific user <a class="nav-link" [routerLink]="['/admin']">Profile</a> -->
        <a class="nav-link" [routerLink]="[user.nickname]">Profile</a>
      </li>

      <!-- Authentication -->
      <li
        class="nav-item"
        *ngIf="auth.isAuthenticated$ | async; else loginBlock"
      >
        <a
          class="nav-link"
          (click)="auth.logout({ returnTo: document.location.origin })"
          >Log Out</a
        >
      </li>
      <ng-template #loginBlock>
        <li class="nav-item">
          <a class="nav-link" (click)="auth.loginWithRedirect()">Log In</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>

<div *ngIf="!environment.production">
  Debug
  <div *ngIf="auth.user$ | async as user">{{ user | json }}</div>
</div>

<div class="container-fluid p-0 p-sm-3">
  <router-outlet></router-outlet>
</div>
