<h1>Jobs<br /></h1>
<p>See job commissions in the community.</p>
<br />
<table
  class="table table-hover table-bordered"
  *ngIf="{
    jobs: jobs,
    currUsername: usersService.username$ | async
  } as data"
>
  <thead></thead>
  <tbody>
    <tr *ngFor="let j of data.jobs; let i = index">
      <td class="position-relative" *ngIf="getProject(j) as project">
        <ng-container *ngIf="getUser(project) as user">
          <div class="d-flex">
            <!-- Job's project image -->
            <a
              [routerLink]="[
                '',
                user,
                projectsLink,
                project.name,
                jobsLink,
                j.jobNumber
              ]"
              class="pr-3"
              style=""
            >
              <app-progressive-image
                *ngIf="project.imageUrl; else placeholder"
                [src]="''"
                [fallback]="project.imageUrl"
                [imgClass]="'job-listing'"
                class="d-block"
              >
              </app-progressive-image>
              <ng-template #placeholder>
                <app-progressive-image
                  [src]="'/assets/img/placeholder.jpg'"
                  [imgClass]="'job-listing'"
                  [imgAlt]="
                    'Project placeholder illustration by Manoj Mahadik/Scop.io'
                  "
                  class="d-block placeholder"
                >
                </app-progressive-image>
              </ng-template>
            </a>
            <div>
              <!-- Job title -->
              <!-- In mobile, stretch the link to be the entire cell -->
              <a
                [routerLink]="[
                  '',
                  user,
                  projectsLink,
                  project.name,
                  jobsLink,
                  j.jobNumber
                ]"
                class="job-title d-inline d-md-none stretched-link"
              >
                {{ j.title }}
              </a>

              <a
                [routerLink]="[
                  '',
                  user,
                  projectsLink,
                  project.name,
                  jobsLink,
                  j.jobNumber
                ]"
                class="job-title d-none d-md-inline"
              >
                {{ j.title }}
              </a>

              <br />
              <div [style]="{ lineHeight: 1.25 }">
                <!-- Project it belongs to -->
                <a [routerLink]="['', user, projectsLink, project.name]">
                  <small class="ml-2 text-muted">{{ project.name }}</small>
                </a>
                <br />
                <!-- Details -->
                <small
                  class="text-muted"
                  title="{{ j.createdAt | date: 'medium' }}"
                >
                  {{ j.createdAt | dateAgo }}
                  <span *ngIf="j.collaboratorsCount"
                    >&bull;&nbsp;{{ j.collaboratorsCount }} collab{{
                      j.collaboratorsCount !== 1 ? "s" : ""
                    }}</span
                  >
                </small>
              </div>
            </div>
          </div>
        </ng-container>
      </td>

      <td class="d-none d-md-table-cell" *ngIf="data.currUsername">
        <app-job-subscription-buttons
          [job]="j"
          (jobUpdatedEvent)="updateJob($event, i)"
        ></app-job-subscription-buttons>
      </td>
    </tr>
  </tbody>
</table>
