<h1>Jobs<br /></h1>
<p>See job commissions in the community.</p>
<br />
<table class="table table-hover table-bordered" *ngIf="jobs$ | async as jobs">
  <thead></thead>
  <tbody>
    <tr *ngFor="let j of jobs">
      <td class="position-relative">
        <ng-container *ngIf="getProject(j) as project">
          <h6 *ngIf="getUser(project) as user" class="d-flex">
            <a
              [routerLink]="[
                '',
                user,
                projectsLink,
                project.name,
                jobsLink,
                j.jobNumber
              ]"
              class="pr-3"
            >
              <app-progressive-image
                *ngIf="project.imageUrl"
                [src]="''"
                [fallback]="project.imageUrl"
                [imgClass]="'img-fluid'"
                class="d-block"
              >
              </app-progressive-image>
            </a>
            <div>
              <a
                [routerLink]="[
                  '',
                  user,
                  projectsLink,
                  project.name,
                  jobsLink,
                  j.jobNumber
                ]"
                class="job-title d-inline d-md-none stretched-link"
              >
                {{ j.title }}
              </a>
              <a
                [routerLink]="[
                  '',
                  user,
                  projectsLink,
                  project.name,
                  jobsLink,
                  j.jobNumber
                ]"
                class="job-title d-none d-md-inline"
              >
                {{ j.title }}
              </a>
              <br />
              <a [routerLink]="['', user, projectsLink, project.name]">
                <span class="ml-2 text-muted fw-normal">{{
                  project.name
                }}</span>
              </a>
            </div>
          </h6>
        </ng-container>
      </td>

      <td class="d-none d-md-table-cell">
        <!-- TODO: subscribe action -->
        <a class="text-success"><i class="far fa-bell"></i>&nbsp;Subscribe</a>
        <!-- TODO: subscribing -->
        <!-- <a class="text-success"><i class="fas fa-check"></i>&nbsp;Subscribing</a> -->
      </td>
    </tr>
  </tbody>
</table>
