<div *ngIf="project" class="card">
  <div class="card-header">
    <!-- TODO: Breadcrumb Title -->
    <header class="p-2 p-md-0">
      <h1>{{ project.displayName || project.name }}</h1>
      <h2 class="lead">
        <a [href]="'https://github.com/' + project.githubRepo" target="_blank">
          <span class="fw-normal">{{ project.githubRepo }}</span>
        </a>
      </h2>
    </header>

    <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
      <li class="nav-item">
        <a
          [routerLink]="['./']"
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Overview</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['./', detailsLink]"
          class="nav-link"
          routerLinkActive="active"
        >
          Details
        </a>
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['./', jobsLink]"
          class="nav-link"
          routerLinkActive="active"
          >Jobs
        </a>
      </li>
    </ul>
  </div>

  <div class="card-body py-3">
    <router-outlet></router-outlet>
  </div>
</div>
