<div class="container py-3">
  <div *ngIf="job">
    <div class="d-flex flex-row justify-content-between mb-3">
      <h2>
        {{ job.title }}&nbsp;<span class="text-muted fw-normal"
          >#{{ job.jobNumber }}</span
        >
      </h2>
      <a [routerLink]="['../', newJobLink]"
        ><button class="btn btn-primary">New Job</button></a
      >
    </div>
    <hr />
    <div
      *ngFor="let c of comments"
      class="comment bg-white lift-1 p-2 mb-2 border border-1 rounded"
    >
      <div>
        <ng-container *ngIf="c?.user; else anonBlock">
          <a [routerLink]="['', c.user]"
            ><b>{{ c.user }}</b></a
          ></ng-container
        >
        <ng-template #anonBlock> <b>[Anonymous]</b></ng-template
        >&nbsp;<span class="text-muted"
          >commented {{ c.createdAt | dateAgo }}</span
        >
      </div>
      <div>
        {{ c.body }}
      </div>
    </div>
  </div>

  <div class="form-group py-3">
    <input
      class="form-control mb-2"
      [(ngModel)]="newComment"
      [ngModelOptions]="{ standalone: true }"
    />
    <button
      [disabled]="submitting || newComment === ''"
      class="btn btn-success"
      (click)="postComment()"
    >
      Comment
    </button>
  </div>
</div>
