<!-- Comments -->
<div
  *ngFor="let c of comments | sort: 'createdAt':-1"
  class="comment bg-white lift-1 p-2 mb-2 border border-1 rounded"
>
  <div>
    <ng-container *ngIf="c?.user; else anonBlock">
      <b
        ><a [routerLink]="['', c.user]">{{ c.user }}</a></b
      ></ng-container
    >
    <ng-template #anonBlock> <b>[Anonymous]</b></ng-template
    >&nbsp;<span class="text-muted" title="{{ c.createdAt | date: 'medium' }}"
      >commented {{ c.createdAt | dateAgo }}</span
    >
    <span class="badge bg-secondary float-end" *ngIf="isCreator()"
      >Creator</span
    >
  </div>
  <div>
    {{ c.body }}
  </div>
</div>
