<div class="container py-3">
  <div>
    <div class="d-flex flex-row justify-content-between mb-3">
      <h2>
        {{ job.title }}&nbsp;<span class="text-muted fw-normal"
          >#{{ job.jobNumber }}</span
        >
      </h2>
      <a class="btn btn-primary" [routerLink]="['../', 'new-job']">New Job</a>
    </div>
    <hr />
    <div
      *ngFor="let c of comments"
      class="bg-white lift-1 p-2 mb-2 border border-1 rounded"
    >
      <div>
        <b>[commenter]</b>&nbsp;<span>{{ c.createdAt | dateAgo }}</span>
      </div>
      <div>
        {{ c.body }}
      </div>
    </div>
  </div>

  <div class="form-group">
    <input
      class="form-control mb-2"
      [(ngModel)]="newComment"
      [ngModelOptions]="{ standalone: true }"
    />
    <button
      [disabled]="submitting || newComment === ''"
      class="btn btn-success"
      (click)="postComment()"
    >
      Comment
    </button>
  </div>
</div>
