<div *ngIf="project$ | async as project">
  <!-- Breadcrumb Title -->
  <h1>Hogwarts Game</h1>
  <h2 class="lead">
    <a
      [href]="'https://github.com/' + project.ghOwner + '/' + project.ghRepo"
      target="_blank"
    >
      <span class="fw-normal">{{ project.ghOwner }}</span
      >&#47;<span class="fw-bold">{{ project.ghRepo }}</span>
    </a>
  </h2>

  <app-project-tree
    *ngIf="project.ghOwner && project.ghRepo"
    [owner]="project.ghOwner"
    [repo]="project.ghRepo"
  ></app-project-tree>

  <app-package-listing
    *ngIf="project.ghOwner && project.ghRepo"
    [owner]="project.ghOwner"
    [repo]="project.ghRepo"
  ></app-package-listing>
</div>
