// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "_functions";

// 2. Include any default variable overrides here
// @import "./custom-variables.scss";

// 3. Include remainder of required Bootstrap stylesheets
@import "_variables";
@import "_mixins";

// 4. Include any optional Bootstrap components as you like
@import "_root";
@import "_reboot";
@import "_type";

// 5. Add additional custom code here
// @import "_pagination";
@import "_badge";
// @import "_jumbotron";
// @import "_alert";
// @import "_progress";
@import "_images";
@import "_list-group";
// @import "_close";
// @import "_toasts";
// @import "_modal";
// @import "_tooltip";
// @import "_popover";
// @import "_carousel";
// @import "_spinners";
@import "_nav";
@import "_transitions";
@import "_containers";
@import "_card";
@import "_buttons";
@import "_button-group";
@import "_forms";
@import "_grid";
@import "_tables";
@import "_navbar";
@import "_utilities";

// Helpers
@import "helpers";

// Utilities
@import "utilities/api";

// Custom
a {
  cursor: pointer;
  text-decoration: none;
  &:not(.nav-link):not(.navbar-brand) {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &.bold-link {
    font-weight: 500;
  }
}

.form-group {
  label.required:after {
    color: red;
    content: " *";
  }

  label {
    font-weight: bold;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    .text-muted,
    small {
      font-weight: 500;
    }
  }

  .help-texts {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: block;

    small {
      display: inline-block;
      margin: 0;
    }
  }
}

// https://stackoverflow.com/questions/10387740/five-equal-columns-in-twitter-bootstrap
.col-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths,
.col-xl-5ths,
.col-xxl-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 576px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 768px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-xl-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1400px) {
  .col-xxl-5ths {
    width: 20%;
    float: left;
  }
}

// body
body {
  // saturate background to make other components pop
  // background-color: rgb(235,239,247);
}

// lift, box shadow
.lift-1 {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transform: translateY(0);

  &.lift-interactive:hover,
  &.lift-interactive:focus {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    &.lift-up {
      transform: translateY(-0.25rem);
    }
  }
}

.lift-2 {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

// animations
.spinner {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  top: 0.75rem;
  right: 0.5rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
