// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "_functions";

// 2. Include any default variable overrides here
// @import "./custom-variables.scss";

// 3. Include remainder of required Bootstrap stylesheets
@import "_variables";
@import "_mixins";

// 4. Include any optional Bootstrap components as you like
@import "_root";
@import "_reboot";
@import "_type";

// 5. Add additional custom code here
// @import "_pagination";
// @import "_badge";
// @import "_jumbotron";
// @import "_alert";
// @import "_progress";
// @import "_media";
@import "_list-group";
// @import "_close";
// @import "_toasts";
// @import "_modal";
// @import "_tooltip";
// @import "_popover";
// @import "_carousel";
// @import "_spinners";
@import "_transitions";
@import "_containers";
@import "_card";
@import "_buttons";
@import "_forms";
@import "_grid";
@import "_tables";
@import "_nav";
@import "_navbar";
@import "_utilities";

// Helpers
@import "helpers";

// Utilities
@import "utilities/api";

// Custom
.form-group {
  label.required:after {
    color: red;
    content: " *";
  }

  label {
    font-weight: bold;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    .text-muted,
    small {
      font-weight: 500;
    }
  }

  .help-texts {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: block;

    small {
      display: inline-block;
      margin: 0;
    }
  }
}

body {
  // saturate background to make other components pop
  // background-color: rgb(235,239,247);
}

// lift
.lift-1 {
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px;
}
